.crud-header {
    background-color: #0077cc;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  .crud-header:first-child {
    border-top-left-radius: 5px;
  }
  
  .crud-header:last-child {
    border-top-right-radius: 5px;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
}

input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

.width-50 {
    width: 50%;
}

.input-group {
    margin: 2rem 0;
}

.role {
    list-style-type: none;
    margin: 25px 0 0 0;
    padding: 0;

}

.role input[type="radio"] {
    opacity: 0.01;
    z-index: 100;

}

.role input[type="radio"]:checked+label,
.Checked+label {
    background: #E4A11B;
    border-radius: 20px;
    color: #fff;
}

.role label {
    padding: 5px;
    border: 1px solid #CCC;
    cursor: pointer;
    z-index: 90;
    border-radius: 20px;
}

.role label:hover {
    background: #E4A11B;
    color: #fff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  --mdb-nav-pills-link-active-bg: #202020;
  --mdb-nav-pills-link-active-color: #ffffff;
  --mdb-nav-pills-link-active-border-color: #E4A11B;
  background-color: var(--mdb-nav-pills-link-active-bg);
  color: var(--mdb-nav-pills-link-active-color);
  border-color: var(--mdb-nav-pills-link-active-border-color);
}

tr.odd {
    background-color: #f2f2f2;
}

tr.even {
    background-color: #ffffff;
}



